body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: rgb(81, 100, 100);
  }
  
  #nav-bar{
    margin: 0%;
}

  h2 {
    margin: 20px auto 80px;
    font-size: 50px;
    text-align: center;
  }
  
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #8a8a8a;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: rgb(44, 44, 44);
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  summary:focus {
    outline: none;
    
  }
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: rgb(181, 181, 181);
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
