body{
    background-color: cornflowerblue;
}

a{
    text-decoration: none;
}

#nav-bar{
    margin: 0%;
}

#botaoh{
    margin-right: -15%;
}

#botaop{
    margin: 10%;
}

#inputp{
    height: 10%;
    margin-right: 4.5%;
}

#central{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

#texto_central{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 250%;
}

#produtos{
    align-items: center;
    margin-left: 2%;
    margin-top: 4%;
}

#Produtos{
    width: 100%;
    margin-top: 25.rem;
}